<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Pravams MySubscription Module
 *
 * @category    Pravams
 * @package     Pravams_MySubscription
 * @copyright   Copyright (c) 2014 Pravams LLC. (http://www.pravams.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0) 
 */
-->
<config>
    <modules>
        <Pravams_MySubscription>
            <version>0.1.0</version>
        </Pravams_MySubscription>
    </modules>
    <frontend>
        <routers>
            <mysubscription>
                <use>standard</use>
                <args>
                    <module>Pravams_MySubscription</module>
                    <frontName>mysubscription</frontName>
                </args>
            </mysubscription>
        </routers>
        <layout>
            <updates>
                <mysubscription>
                    <file>mysubscription.xml</file>
                </mysubscription>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <pravams_mysubscription before="Mage_Adminhtml">Pravams_MySubscription_Adminhtml</pravams_mysubscription>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mysubscription>
                    <file>subscription.xml</file>
                </mysubscription>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <mysubscription>
                <class>Pravams_MySubscription_Block</class>
            </mysubscription>
            <checkout>
                <rewrite>
                    <cart>Pravams_MySubscription_Block_Checkout_Cart</cart>
                    <onepage>Pravams_MySubscription_Block_Checkout_Onepage</onepage>
                    <onepage_review_info>Pravams_MySubscription_Block_Checkout_Onepage_Review_Info</onepage_review_info>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <customer_edit_tabs>Pravams_MySubscription_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <mysubscription>
                <class>Pravams_MySubscription_Helper</class>
            </mysubscription>
            <checkout>
                <rewrite>
                    <data>Pravams_MySubscription_Helper_Checkout</data>
                </rewrite>
            </checkout>
        </helpers>
        <models>
            <mysubscription>
                <class>Pravams_MySubscription_Model</class>
                <resourceModel>mysubscription_resource</resourceModel>
            </mysubscription>
            <mysubscription_resource>
                <class>Pravams_MySubscription_Model_Resource</class>
                <entities>
                    <msprofile>
                        <table>mysubscription_profile</table>
                    </msprofile>
                    <msquote>
                        <table>mysubscription_sales_flat_quote</table>
                    </msquote>
                    <msquote_item>
                        <table>mysubscription_sales_flat_quote_item</table>
                    </msquote_item>
                    <msquote_item_option>
                        <table>mysubscription_sales_flat_quote_item_option</table>
                    </msquote_item_option>
                    <ms_address>
                        <table>mysubscription_sales_flat_quote_address</table>
                    </ms_address>
                    <ms_payment>
                        <table>mysubscription_sales_flat_quote_payment</table>
                    </ms_payment>
                    <ms_shipping_rate>
                        <table>mysubscription_sales_flat_quote_shipping_rate</table>
                    </ms_shipping_rate>
                    <ms_order>
                        <table>mysubscription_order</table>
                    </ms_order>
                </entities>
            </mysubscription_resource>
            <sales>
                <rewrite>
                    <quote_address>Pravams_MySubscription_Model_Quote_Address</quote_address>
                    <quote>Pravams_MySubscription_Model_Quote</quote>
                </rewrite>
            </sales>
        </models>
        <resources>
            <pravams_mysubscription_setup>
                <setup>
                    <module>Pravams_MySubscription</module>                    
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pravams_mysubscription_setup>
        </resources>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <checkout_type_onepage_save_order_after>
                        <class>mysubscription/observer</class>
                        <method>afterOrderCreated</method>
                    </checkout_type_onepage_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </global>
    <crontab>
        <jobs>
            <mysubscription_place_order_from_quote>
                <schedule>
                    <!--<cron_expr>0 9 * * *</cron_expr>-->
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mysubscription/observer::placeOrder</model>
                </run>
            </mysubscription_place_order_from_quote>
        </jobs>
    </crontab>
    <default>
        <mysubscription>
            <frequency>
                <interval>1,7,30</interval>
            </frequency>
            <ms_payment>
                <check>1</check>
            </ms_payment>
        </mysubscription>
    </default>
</config>